@font-face {
  font-family: "Sugo Clássica";
  src: local(Sugo), url(sugo_pro_display/Sugo-Pro-Classic-Regular-trial.ttf);
}

@font-face {
  font-family: "Sugo Título";
  src: local(Sugo), url(sugo_pro_display/Sugo-Pro-Display-Bold-trial.ttf);
}

@font-face {
  font-family: "Sugo Texto";
  src: local(Sugo), url(sugo_pro_display/Sugo-Pro-Display-Light-trial.ttf);
}

:root {
  --cor-primaria: #5E17EB;
  --cor-primaria-claro: rgba(94, 23, 235, 0.8);
  --cor-secundaria: #26A9E0;
  --cor-padrao: azure;
}

.fonte-classica {
  font-family: "Sugo Clássica";
  font-size: 1.3rem;
}

.fonte-texto {
  font-family: "Sugo Texto";
  font-size: 1.3rem;
}

.fonte-funcao {
  font-family: "Sugo Texto";
  font-size: 1rem;
  margin-top: -0.6rem;
}

.fonte-titulo,
.fonte-titulo-os-criativos {
  font-family: "Sugo Título";
  font-size: 4rem;
  color: var(--cor-primaria);
  text-shadow:
    -2px 0 0 #00ffff,
    2px 0 0 #ff00ff;
}

.fonte-titulos-fale-conosco {
  font-family: "Sugo Clássica";
  font-size: 3rem;
  color: var(--cor-padrao);
}

.fonte-footer {
  font-family: "Sugo Clássica";
  font-size: 1.3rem;
  color: var(--cor-padrao);
}

body,
.fundo-footer {
  background-color: var(--cor-primaria-claro);
}

nav,
.fundo-os-criativos {
  background-color: var(--cor-padrao);
}

.animacao-nav {
  animation: flipInX 2s;
}

.container-fluid a {
  color: var(--cor-primaria);
}

.container-fluid a img {
  width: 5rem;
  height: 5rem;
}

.tamanho-logo {
  width: 30vw;
}

.parallax {
  background-image: url(assets/hero-bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animacao-logo {
  animation: backInDown;
  animation-duration: 2s;
}

#a-dom {
  background-color: var(--cor-padrao);
}

.borda-cor {
  border: 2px solid var(--cor-primaria);
}

.animacao-a-dom.visivel,
.animacao-criatividades.visivel {
  animation: fadeInUp 2s;
}

.fonte-titulo-criatividades {
  font-family: "Sugo Título";
  font-size: 4rem;
  color: var(--cor-padrao);
  padding-top: 2rem;
}

.fundo-cards {
  background-color: var(--cor-padrao);
}

.fonte-titulo-cards {
  font-family: "Sugo Título";
  font-size: 2rem;
  color: var(--cor-primaria);
}

.parallax-call-to-action {
  background-image: url(assets/bg-call-to-action.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ajuste-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao {
  background-color: var(--cor-primaria);
  color: var(--cor-padrao);
  box-shadow: 2px 0 0 #ff00ff,
    -2px 0 0 #00ffff;
  transition: all .3s;
}

.botao:hover,
.botao:active {
  background-color: var(--cor-secundaria);
  color: var(--cor-padrao);
  transition: all .3s;
}

.animacao-call-to-action.visivel,
.animacao-os-criativos.visivel {
  animation: flipInX 2s;
}

.card-criativos {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid var(--cor-primaria);
  box-shadow: 2px 0 0 #ff00ff,
    -2px 0 0 #00ffff;
  display: flex;
  transition: all .3s;
}

.card-criativos:hover {
  scale: 1.1;
  transition: all .3s;
}

.cor-icone {
  color: var(--cor-padrao);
}

.animacao-os-criativos-1.visivel {
  animation: rotateInDownLeft 1s;
}
.animacao-os-criativos-2.visivel {
  animation: rotateInDownLeft 2s;
}
.animacao-os-criativos-3.visivel {
  animation: rotateInDownLeft 3s;
}
.animacao-os-criativos-4.visivel {
  animation: rotateInDownLeft 4s;
}
.animacao-os-criativos-5.visivel {
  animation: rotateInDownLeft 5s;
}

@media (max-width: 380px) {
  .botao {
    font-size: 1rem;
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .botao {
    font-size: 0.8rem;
  }

  footer {
    flex-direction: column;
  }
}